@model Domas.DAP.ADF.License.License.License

@* This partial view defines form fields that will appear when creating and editing entities *@

<div class="editor-label">
    @Html.LabelFor(model => model.CreatedOn)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CreatedOn)
    @Html.ValidationMessageFor(model => model.CreatedOn)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Createdby)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Createdby)
    @Html.ValidationMessageFor(model => model.Createdby)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.ModifiedOn)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.ModifiedOn)
    @Html.ValidationMessageFor(model => model.ModifiedOn)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Modifiedby)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Modifiedby)
    @Html.ValidationMessageFor(model => model.Modifiedby)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.StartTime)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.StartTime)
    @Html.ValidationMessageFor(model => model.StartTime)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.EndTime)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.EndTime)
    @Html.ValidationMessageFor(model => model.EndTime)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.UserCount)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.UserCount)
    @Html.ValidationMessageFor(model => model.UserCount)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.Memo)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.Memo)
    @Html.ValidationMessageFor(model => model.Memo)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PublicKey)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PublicKey)
    @Html.ValidationMessageFor(model => model.PublicKey)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PrivateKey)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PrivateKey)
    @Html.ValidationMessageFor(model => model.PrivateKey)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.HardwareInfoCode)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.HardwareInfoCode)
    @Html.ValidationMessageFor(model => model.HardwareInfoCode)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.PrinterCount)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.PrinterCount)
    @Html.ValidationMessageFor(model => model.PrinterCount)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.BurnerCount)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.BurnerCount)
    @Html.ValidationMessageFor(model => model.BurnerCount)
</div>

<div class="editor-label">
    @Html.LabelFor(model => model.CopiersCount)
</div>
<div class="editor-field">
    @Html.EditorFor(model => model.CopiersCount)
    @Html.ValidationMessageFor(model => model.CopiersCount)
</div>

